<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/css/viewUsuarios.css" />
    <title>Usuario</title>
  </head>
  <body>
    <form class="login">
      <div class="">
        <label for="">Usuario</label>
        <input type="text" name="" id="" />
      </div>
      <div class="">
        <label for="">contraseña</label>
        <input type="password" name="" id="" />
      </div>
      <button class="button">Iniciar Sesión</button>
      <p>No tiene cuenta?</p>
    </form>

    <form class="register">
      <div class="">
        <label for="">Nombre</label>
        <input type="text" name="" id="" />
      </div>
      <div class="">
        <label for="">Usuario</label>
        <input type="text" name="" id="" />
      </div>
      <div class="">
        <label for="">Correo</label>
        <input type="email" name="" id="" />
      </div>
      <div class="">
        <label for="">contraseña</label>
        <input type="password" name="" id="" />
      </div>
      <div class="">
        <label for="">Confirmar contraseña</label>
        <input type="password" name="" id="" />
      </div>
      <button type="button">Registrarse</button>
      <p>Ya tiene cuenta?</p>
    </form>

    <script src="/views/public/js/script.js"></script>
  </body>
</html>
