<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/css/viewUsuarios.css" />
    <title>Usuario</title>
  </head>
  <body>
    <form id="form-login" class="login">
      <div class="">
        <label for="">Usuario</label>
        <input type="text" name="login-usuario" id="" />
      </div>
      <div class="">
        <label for="">contraseña</label>
        <input type="password" name="login-contraseña" id="" />
      </div>
      <button type="button">Iniciar Sesión</button>
      <p id="btnFormLogin">No tiene cuenta?</p>
    </form>

    <form id="form-register" class="register">
      <div class="">
        <label for="">Nombre</label>
        <input type="text" name="register-nombre" id="" />
      </div>
      <div class="">
        <label for="">Usuario</label>
        <input type="text" name="register-usuario" id="" />
      </div>
      <div class="">
        <label for="">Correo</label>
        <input type="email" name="register-correo" id="register-correo" />
      </div>
      <div class="">
        <label for="">contraseña</label>
        <input type="password" name="register-contraseña" id="" />
      </div>
      <div class="">
        <label for="">Confirmar contraseña</label>
        <input type="password" name="register-confirmacion" id="" />
      </div>
      <button type="button">Registrarse</button>
      <p id="btnFormRegistro">Ya tiene cuenta?</p>
    </form>

    <script src="/views/public/js/script.js"></script>
  </body>
</html>
